Задание 1
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
    - оценка 2 и меньше - низкий рейтинг
    - оценка 4 и меньше - средний рейтинг
    - оценка 4.5 и 5 - высокий рейтинг
Результат классификации запишите в столбец class

In [3]:
import pandas as pd

In [4]:
def class_of_film(a):
    
    class_film = ''
    
    if a <= 2:
        class_film = 'низкий рейтинг'
    elif a > 2 and a <= 4:
        class_film = 'средний рейтинг'
    elif a >= 4.5:
        class_film = 'высокий рейтинг' 
    else:    
        class_film = 'вне рейтинга'
    
    return class_film

In [7]:
df = pd.read_csv('ratings.csv')

In [10]:
df['class'] = df['rating'].apply(class_of_film)
df.head()

   userId  movieId  rating  timestamp            class
0       1        1     4.0  964982703  средний рейтинг
1       1        3     4.0  964981247  средний рейтинг
2       1        6     4.0  964982224  средний рейтинг
3       1       47     5.0  964983815  высокий рейтинг
4       1       50     5.0  964982931  высокий рейтинг

Задание 2
Используем файл keywords.csv.
Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце 'region' пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим 'undefined'.
Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:
geo_data = {
    'Центр': ['москва', 'тула', 'ярославль'],
    'Северо-Запад': ['петербург', 'псков', 'мурманск'],
    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}
Результат классификации запишите в отдельный столбец region.

In [27]:
def serch_region(a):

    a = a.split()
    
    geo_data = 'undefined'
  
    if list(set(a) & set(['москва', 'тула', 'ярославль'])):
        geo_data = 'Центр'
    elif list(set(a) & set(['петербург', 'псков', 'мурманск'])):
        geo_data = 'Северо-Запад'
    elif list(set(a) & set(['владивосток', 'сахалин', 'хабаровск'])):
        geo_data = 'Дальний Восток'  

    
    return geo_data

In [29]:
df = pd.read_csv('keywords.csv')
df['region'] = df['keyword'].apply(serch_region)
df['region'].unique()

array(['undefined', 'Центр', 'Северо-Запад', 'Дальний Восток'],
      dtype=object)

Задание 4
Есть мнение, что "раньше снимали настоящее кино, не то что сейчас". Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из материалов занятия. Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.
При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:
1. В переменную years запишите список из всех годов с 1950 по 2010.
2. Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:
    - для каждой строки пройдите по всем годам списка years
    - если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
    - если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
3. Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец 'year'
4. Посчитайте средний рейтинг всех фильмов для каждого значения столбца 'year' и отсортируйте результат по убыванию рейтинга

In [41]:
df_movie = pd.read_csv('movies.csv')
df_rating = pd.read_csv('ratings.csv')

df = df_movie.merge(df_rating,on='movieId').reset_index()

df.head()

,index,movieId,title,genres,userId,rating,timestamp
0,0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703
1,1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962
2,2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946
3,3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5,1510577970
4,4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,1305696483

In [36]:
years = []
a = 1950 

while a <= 2010:
    years.append(a)
    a+=1

In [39]:
def production_year(a):
    
    rt_year = 1900
 
    for y in years:
        if a.find(str(y)) > -1:
            rt_year = y
            break

    
    return rt_year

In [42]:
df['year'] = df['title'].apply(production_year)
df = df.sort_values(by = ['rating'], ascending = False)
df.head()

,index,movieId,title,genres,userId,rating,timestamp,year
56251,56251,3676,Eraserhead (1977),Drama|Horror,567,5.0,1525282299,1977
33888,33888,1639,Chasing Amy (1997),Comedy|Drama|Romance,147,5.0,1203267694,1997
20742,20742,914,My Fair Lady (1964),Comedy|Drama|Musical|Romance,188,5.0,962560181,1964
10168,10168,356,Forrest Gump (1994),Comedy|Drama|Romance|War,283,5.0,901228020,1994
10169,10169,356,Forrest Gump (1994),Comedy|Drama|Romance|War,284,5.0,832695327,1994